* {
  margin: 0;
  padding: 0;
}

/* banner section work */
.banner {
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url(../resources/Banner\ Image.png);
  height: 600px;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 50px;
  margin-left: 13%;
  margin-right: 13%;
  border-radius: 16px;
}
.banner-title {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 32px;
  font-weight: 400;
  padding-top: 177px;
}

.banner-description {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
  padding-top: 16px;
}

/* discount section  */
.discount {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 70px;
  font-weight: 700;
  margin-top: 120px;
}

.discount-holiday {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-top: 48px;
}

.discount-categories {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-top: 25px;
}

.new-year-pic {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

/* midnight party section  */

.midnight-party {
  background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url(../resources/Vectorrr.png);
  height: 600px;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 150px;
  margin-left: 13%;
  margin-right: 13%;
  border-radius: 16px;
}

.midnight-party-title {
  color: #fff;
  font-family: Merriweather;
  font-size: 60px;
  font-weight: 900;
  letter-spacing: 7.04px;
  padding-top: 126px;
  padding-left: 126px;
  padding-bottom: 24px;
}

.midnight-party_description {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  padding-left: 126px;
  padding-bottom: 48px;
}

.midnight-join-btn {
  margin-left: 126px;
  background-color: rgb(65, 65, 65);
  color: white;
  font-size: 20px;
  padding: 15px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
}
.midnight-party {
  display: flex;
}

.midnight-pic {
  margin-top: 95px;
  margin-left: 95px;
}

/* address section  */

.address-section {
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  margin-top: 100px;
  margin-left: 13%;
  margin-right: 13%;

  border-radius: 16px;
  margin-bottom: 120px;
}
.address-titles {
  color: red;
}

.address-details {
  text-align: center;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px; /* 175% */
  text-transform: capitalize;
  padding-top: 100px;
  padding-bottom: 48px;
}

.address-btn {
  text-align: center;
}

.address-join-btn {
  background-color: red;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  border-radius: 13px;
  border: none;
  cursor: pointer;
}

/* Coming Soon Section  */

.coming-soon-left {
  display: flex;
  align-items: center;
  justify-content: center;
}

.new-best-offer {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}
.coming-soon {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
}

.coming-soon-description {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px; /* 160% */
  padding-right: 70px;
}

.coming-soon-year {
  color: #f00;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
}

.coming-soon-year-description {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px; /* 160% */
}
.coming-soon-right {
  margin-left: 70px;
}
.coming-soon-center {
  border-radius: 50%;
  border: 15px solid #f00;
  padding: 40px;
}

/* Holidays Sale section */

.holiday-sale-title {
  color: #070211;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  margin-top: 100px;
}

.holiday-sale {
  font-family: Merriweather;
  font-size: 62px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-align: center;
}

.holiday-sale-description {
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px; /* 160% */
}

.holiday-sale-pics {
  display: flex;
  margin: 30px 0;
}

.box {
  position: relative;
  top: 120px;
  left: 200px;
  z-index: 1;
}
.red-line {
  position: relative;
  top: -100px;
  right: -200px;
}

.girl-pic {
  position: relative;
  z-index: 1;
  right: 229px;
  bottom: 176px;
}

.holiday-sale-discount {
  position: relative;
  z-index: 2;
  right: 370px;
  top: 205px;
}
/* Awesome Portfolio */

.best-gift {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  padding-left: 11.5%;
  padding-bottom: 10px;
}

.awesome-portfolio {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  padding-left: 11.5%;
}
.awesome-portfolio-description {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  padding-left: 11.5%;
  padding-bottom: 50px;
}
.row-one {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding-bottom: 10px;
}

/* Subscribe Newsletter */
.subscribe-newsletter-container {
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
  text-align: center;
  margin-left: 13%;
  margin-right: 13%;
  margin-top: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.subscribe-newsletter {
  color: #070211;
  text-align: center;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
}

.subscribe-newsletter-description {
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px; /* 160% */
}

.subscribe-input {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 250px;
  padding-left: 50px;
  border: none;
  border-radius: 30px 0 0 30px;
}
.subscribe-button {
  padding: 15px 35px;
  position: relative;
  right: 2px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 0px 30px 30px 0;
  cursor: pointer;
}

/* footer section */

footer {
  background-color: black;
  margin-top: 90px;
}

.footer-section {
  display: flex;
  justify-content: space-between;
  padding: 120px 140px 50px 140px;
  color: white;
}

.social-link {
  display: flex;
  justify-content: center;
  gap: 25px;
  padding: 20px 0px;
}
.social-link2 {
  display: flex;
  gap: 10px;
}

.footer-last-section {
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 30px 60px;
}

.footer-text {
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
}
.div {
  border: 1px solid rgb(221, 221, 221);
  margin: 0 13%;
}
